<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Deploy by Tianyi</span>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/ddiu8081/chatgpt-demo" target="_blank"
    >
      Source Code
    </a>
    <span px-1>|</span>
    <br class="block lg:hidden">
    <span pr-1 class="flex-shrink-0 lg:flex-shrink">For LNV Platform Enablement ONLY</span>
    <span style="color: red;">❤️</span>
  </p>
</footer>
